@charset "UTF-8";
/* CSS Document */
body {
/*	background-image:url("./_DSC9639.jpg");
	width:100%; 
	height:100%; 
	left: 812px;
	position: absolute;
*/
	background-repeat: no-repeat;
	background-size: 1375px 918px;
	background-color:#1B410F;

	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.fixedwidthWide {
	width:960px;
	margin:0 auto;
}


#mainContent {
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}

#main {
	position:relative;
	top: 40px;
}

#caption {
	position:relative;
/*	margin-left: 50px;*/
	top: -400px;
/*	widows: 100%;*/
	font: 200% normal bold ; color: black; font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	text-align: center;
/*	width: 100%;	*/
}

.topnav{
	color: aliceblue;
	overflow: hidden;
	font-size: 25px;
	text-decoration:none;
	background-color:#1B410F;
	padding-top: 15px;
}

.under{
}

#forsale {
	position:relative;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	width: 100%;
	top: -80px;
}

#talk{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
	color: aliceblue;
	position: relative;
	top: -80px;
}


#selling{
	position:relative;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	width: 100%;
	top: -50px;
}

.gallery{
	position:relative;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;

}

.desc{
}




a:link {text-decoration: none;
	color: aliceblue;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	border-bottom: 1px solid #F4640A
}

a:visited {
	color:skyblue;
	border-bottom: 1px solid #F4640A;
}
	
a:hover {
	color:#F4640A ;
	border-bottom: 1px solid #F4640A;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	height: 45px;
	width: 25%;
	background-color:#1B410F; 
	opacity: .8;
	line-height: 40px;
	text-align: center;
}


#mypic{
	object-fit: cover;
	width: 1200px;
	height: 801px;

}

#our-story-pics{
	position: relative;
}


.desc{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	font-size: 20px;
}

#title{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	font-size: 18px;
	margin-left: 250px;
	margin-top: -250px;
	
}

#price{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #F4640A;
	margin-left: 250px;
	
}

#avalibility{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	margin-left: 250px;
	
}

#paragraph{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	margin-left: 250px;
}

#payments{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	margin-left: 250px;
}

#paypal-logo{
	margin-left: 375px;
	margin-top: -41.5px;
}

#picture{

}

#buy-now{
	margin-left: 250px;
	font-size: 25px;
}

.button{
	
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding:0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#location{
	position:relative;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	width: 100%;
	top: -50px;
	text-align: center;
}

#paragraph-L{
	position:relative;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	width: 100%;
	text-align: center;
	top: -40px;
	
	
}
#CU{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aliceblue;
	text-align: center;
}

#CUP{
	text-align: center;
	color: aliceblue;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}


